body {
	background: #1b1724;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.menu {
	border: 1px solid #84578f;
	background: #17131f;
}

.button {
	color: #2d1333;
	transition: 0.1s all ease-out;
}

.button:hover {
	opacity: 0.75;
}

.purple {
	background: #af6bbf;
}

.task {
	background: rgba(23, 6, 26, 0.2);
	transition: 0.1s all ease-out;
}

.task:hover  {
	background: rgba(23, 6, 26, 0.5);
}

.completed {
	background: #dca2eb;
	color: #57274f;
	transition: 0.2s all ease-out;
}

.completed:hover {
	background: #da91ed;
}

.circle  {
	width: 26px;
	height: 26px;
	border-radius: 13px;
}

.process {
	width: 26px;
	height: 26px;
	border-radius: 13px;
}

.dark-bg {
	background: #4b4252;
	color: white;
}